<ion-header>
  <header class="bg-white h-16 w-full">
    <nav class="flex w-full wrapper justify-between items-center h-full">
      <a class="text-black text-xl" routerLink="/">Resource Manager</a>
      <ul class="flex h-full">
        <a
          class="link"
          [routerLink]="['/']"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        ><a
          class="link"
          [routerLink]="['/resources']"
          [routerLinkActive]="'active'"
          >Recursos</a
        >
      </ul>
    </nav>
  </header>
</ion-header>
