<app-header></app-header>
<ion-content>
  <div class="wrapper py-10">
    <h1 class="font-bold text-2xl text-blue-500">Listado de recursos</h1>
    <ion-grid class="mb-2">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5"
        *ngIf="!loading"
      >
        <div *ngFor="let resource of resources">
          <ion-card
            class="p-2 h-full mt-4 flex flex-col justify-between md:mt-0 m-0 w-full"
            mode="ios"
          >
            <div>
              <span class="font-bold text-lg"> {{resource.description}} </span>
              <p *ngIf="resource.created_at" class="text-xs">
                <b>Fecha de registro :</b>
                {{resource.created_at?.toDate() | date: 'yyyy/MM/dd h:mm:ss a'
                }}
              </p>
            </div>

            <div>
              <div class="flex justify-between mt-1 gap-2">
                <a
                  class="pointer text-sm underline overflow-auto"
                  [href]="resource.url"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{resource.url}}</a
                >
                <div
                  class="cursor-pointer"
                  (click)="copyLink($event, resource.url)"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-7 h-7"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.5 16.5L19.5 4.5L18.75 3.75H9L8.25 4.5L8.25 7.5L5.25 7.5L4.5 8.25V20.25L5.25 21H15L15.75 20.25V17.25H18.75L19.5 16.5ZM15.75 15.75L15.75 8.25L15 7.5L9.75 7.5V5.25L18 5.25V15.75H15.75ZM6 9L14.25 9L14.25 19.5L6 19.5L6 9Z"
                        fill="#080341"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
              <!-- <div class="flex justify-end">
                <ion-button
                  (click)="confirmDeleteResource(resource)"
                  class="task-btn"
                  mode="ios"
                  color="danger"
                  size="small"
                >
                  Eliminar
                  <ion-icon slot="end" name="trash-outline"></ion-icon>
                </ion-button>
              </div> -->
            </div>
          </ion-card>
        </div>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content class="ion-padding">Copiado!</ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <ion-infinite-scroll (ionInfinite)="nextData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="loading" class="h-[50vh]">
        <app-loader></app-loader>
      </div>

      <ion-row *ngIf="!loading && !resources.length">
        <ion-col size="12" class="ion-text-center">
          <ion-icon size="large" name="create-outline"></ion-icon>
          <h4 class="font-semibold text-2xl">No hay registros</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
