<app-header></app-header>
<ion-content>
  <div class="wrapper py-10">
    <h1 class="font-bold text-2xl text-blue-500">Listado de recursos</h1>
    <ion-grid class="mb-2">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5"
        *ngIf="!loading"
      >
        <div
          *ngFor="let resource of resources"
        >
          <ion-card
            class="p-2 h-full mt-4 flex flex-col justify-between md:mt-0 m-0 w-full"
            mode="ios"
          >
            <div>
              <span class="font-bold text-lg"> {{resource.description}} </span>
              <p *ngIf="resource.created_at" class="text-xs">
                <b>Fecha de registro :</b>
                {{resource.created_at?.toDate() | date: 'yyyy/MM/dd h:mm:ss a'
                }}
              </p>
            </div>

            <div>
              <div>
                <a
                  class="pointer text-sm underline"
                  [href]="resource.url"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{resource.url}}</a
                >
              </div>
              <!-- <div class="flex justify-end">
                <ion-button
                  (click)="confirmDeleteResource(resource)"
                  class="task-btn"
                  mode="ios"
                  color="danger"
                  size="small"
                >
                  Eliminar
                  <ion-icon slot="end" name="trash-outline"></ion-icon>
                </ion-button>
              </div> -->
            </div>
          </ion-card>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="nextData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="loading" class="h-[50vh]">
        <app-loader></app-loader>
      </div>

      <ion-row *ngIf="!loading && !resources.length">
        <ion-col size="12" class="ion-text-center">
          <ion-icon size="large" name="create-outline"></ion-icon>
          <h4 class="font-semibold text-2xl">No hay registros</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
