<app-header></app-header>
<ion-content>
  <div class="wrapper py-10">
    <h1 class="font-bold text-2xl text-blue-500">Listado de recursos</h1>
    <ion-grid class="mb-2">
      <ion-row *ngIf="!loading">
        <ion-col
          *ngFor="let resource of resources"
          size-lg="4"
          size-md="6"
          size-sm="6"
          size="12"
        >
          <ion-card class="p-2 mt-4 md:mt-0 m-0 w-full" mode="ios">
            <span class="font-bold text-lg"> {{resource.description}} </span>
            <p *ngIf="resource.created_at" class="text-xs">
              <b>Fecha de registro :</b>
              {{resource.created_at?.toDate() | date: 'yyyy/MM/dd h:mm:ss a' }}
            </p>
            <div>
              <a
                class="pointer text-sm underline"
                [href]="resource.url"
                target="_blank"
                rel="noopener noreferrer"
                >{{resource.url}}</a
              >
            </div>
            <!-- <div class="flex justify-end">
              <ion-button
                (click)="confirmDeleteResource(resource)"
                class="task-btn"
                mode="ios"
                color="danger"
                size="small"
              >
                Eliminar
                <ion-icon slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            </div> -->
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-infinite-scroll (ionInfinite)="nextData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="loading" class="h-[50vh]">
        <app-loader></app-loader>
      </div>

      <ion-row *ngIf="!loading && !resources.length">
        <ion-col size="12" class="ion-text-center">
          <ion-icon size="large" name="create-outline"></ion-icon>
          <h4 class="font-semibold text-2xl">No hay registros</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
